<!DOCTYPE html>
<html>
<head>
  <title>Rails3Es6Demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "system.js" %>
  <%= javascript_include_tag "systemjs.config.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
